<h2>Restore Account</h2>

{{#if error}}
    <p class="alert">{{error}}</p>
{{/if}}

<form action="/auth/password/" method="POST" novalidate>

    <div class="input-field">
        <input id="password" name="password" type="password" class="validate" required>
        <label for="password">New password</label>
        <span class="helper-text" data-error="Enter a password"></span>
    </div>
    <div class="input-field">
        <input id="confirm" name="confirm" type="password" class="validate" required>
        <label for="confirm">New password again</label>
        <span class="helper-text" data-error="Enter a password again"></span>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">
    <input type="hidden" name="token" value="{{token}}">
    <input type="hidden" name="userId" value="{{userId}}">


    <button type="submit" class="btn btn-primary">Restore</button>
</form>